nav{
    padding: 25px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #DBDCDD;
    border-bottom: 1px solid #DBDCDD;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
}

.logo{
    max-width: 120px;
}
nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    padding: 8px 15px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #DBDCDD;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
nav ul span{
    color: #DBDCDD;
}
nav ul li a{
    color: #000;
    font-size: 14px;
}
.search{
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.navLink button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FF385C;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}
.detail{
    display: flex;
    align-items: center;
    gap: 18px;
}
.detail a{
    font-size: 14px;
    color: #000;
}
.nav_icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
    border-bottom: 1px solid #DBDCDD;
    position: fixed;
    background: #fff;

}
.icon{
    text-align: center;
}
.icon a{
    text-align: center;
    color: #000;
    font-size: 20px;
    opacity: .5;
    transition: opacity 500ms ease;
}
.icon a:hover{
    opacity: 1;
    transition: opacity 500ms ease;
}
.icon h5{
    font-size: 12px;
}
