.cards{
    padding: 20px 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 10px;
    margin-top: 80px;
}

.card{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    cursor: pointer;
}
.card img{
    border-radius: 10px;
}
.card_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_flex span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.card p{
    font-size: 12px;
    padding: 10px 0px;
    color: #888888;
}
.card h4{
    font-size: 14px;
    padding-bottom: 10px;
}



@media (max-width: 589px) {
    .card{
        width: 100% !important;
    }
}